<ol class="countries">
  {{#each countries}}
    <li class="country">
      <div class="country-identifier">
        <h2 class="country-name">
          {{name}}
        </h2>

        <span class="country-count">{{athletes}} athletes</span>
      </div>

      <div class="country-medals">
        <span class="country-medal -silver">{{medals.silver}}</span>
        <span class="country-medal -gold">{{medals.gold}}</span>
        <span class="country-medal -bronze">{{medals.bronze}}</span>
      </div>
    </li>
  {{/each}}
</ol>

<div class="podium">
  <div class="medal -silver">
    <div class="medal-mask -top"></div>
    <div class="medal-body"></div>
    <div class="medal-mask -bottom"></div>
  </div>
  <div class="medal -gold">
    <div class="medal-mask -top"></div>
    <div class="medal-body"></div>
    <div class="medal-mask -bottom"></div>
  </div>
  <div class="medal -bronze">
    <div class="medal-mask -top"></div>
    <div class="medal-body"></div>
    <div class="medal-mask -bottom"></div>
  </div>
</div>


<footer>
  Guth testando commit
</footer>
